    .app-space {
        padding-top: 15px;
    }

    .chat_box {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        background: #fff;

    }

    .box {
        height: 300px;
        overflow: auto;
    }