{% extends './base/base.html' %}

{% block content %}
<section class="row">
    <article class="col-sm-3">
        <div class="form-group">
            <input type="text" disabled class="form-control" name="room" id="room-actual" value="{{ room }}">
        </div>
        <button type="button" class="btn btn-danger" name="button" id="leave">Leave room</button>
        <hr>
        {% if rooms %}
            {% for room in rooms %}
                <p> <a href="{{ url_for('chat', user = username, room = room) }}">{{ room }}</a> </p>
            {% endfor %}
        {% endif %}
    </article>
    <article class="col-sm-9">
        <hr>
        <div class="bg-primary text-white text-center" id="events_user"></div>
        <hr>
        <div id="_messages" class="box">
            {% for message in chats %}
            {% if message['r'] == room %}
            <div class="container mt-3">
                <div class="media border p-3">
                    <div class="media-body">
                        <strong>{{ message['u'] }} <small><i> {{ message['t'] }} </i></small></strong>
                        <p>{{ message['m'] }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <form class="fixed-bottom chat_box " id="chat_app">
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    {{ username }}
                </div>
                <div class="col-sm-6">
                    <input type="hidden" name="username" id="user-data" value="{{username}}">
                    <input type="text" class="form-control" name="message" id="message" placeholder="Type your message"
                        required autofocus>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-ls btn-block btn-outline-success" name="button"
                        id="send-message">Send</button>
                </div>
            </div>
        
        </form>

        
    </article>
    
</section>


{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename = 'js/socket.js') }}"></script>
{% endblock %}