{% extends './base/base.html' %}

{% block content %}
<section class="row">
  <article class="col-sm-4">
    <form class="form" action="#" method="post">
      <div class="form-group">
        Username:
        <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
      </div>
      <button type="submit" class="btn btn-lg btn-block btn-outline-success" name="button">Create Username</button>
    </form>
  </article>
</section>
{% endblock %}
{% block js %}

{% endblock %}