{% extends './base/base.html' %}

{% block content %}
<section class="row">
  <article class="col-sm-4">
    <h3>{{ username }}</h3>
    <hr>
    <form class="form" action="#" id="new_room">
      <div class="form-group">
        <input type="text" name="room_name" class="form-control" placeholder="Room Name" required autofocus>
      </div>
      <span id="message"></span>
      <button type="button" class="btn btn-primary btn-lg btn-block" id="c_room">Create Room</button>
    </form>
  </article>
  <article class="col-sm-4">
    <h3>List Rooms</h3>
    <span id = "rooms">
        {% if rooms %}
            {% for room in rooms %}
                <p> <a href="{{ url_for('chat', user = username, room = room) }}">{{ room }}</a> </p>
            {% endfor %}
        {% endif %}
    </span>
  </article>
</section>
{% endblock %}
{% block js %}
<script>
document.addEventListener("DOMContentLoaded", function (event) {
    let btnRoom = document.querySelector("#c_room");
    btnRoom.addEventListener('click', ()=> {
        let form = document.querySelector('#new_room');
        let data = new FormData(form);
        post('/create/room', data)
        .then(response => {
            let result = JSON.parse(response);
            let content = document.getElementById("message");
            let rooms_c = document.getElementById("rooms");
            if (result.type == "success") {
                content.innerHTML = ` <div class = 'alert alert-success'> ${result.message} </div> `; 
                setTimeout(function(){location.reload();}, 1000)
            } else {
                content.innerHTML = ` <div class = 'alert alert-danger'> ${result.message} </div> ` ;
            }
        })
        .catch(err =>{ console.log(err);})
    });
    
});
</script>

{% endblock %}